.title-card
{
    height: 200px;
    padding: 10%;
    background-image: url(https://images.unsplash.com/photo-1639131285716-3fc7f624f138?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 100%;
    background-attachment: fixed;
}

.main-title
{
    font-weight: bolder;
    font-size:70px;
    color:white;
}

.bar-of-nav
{
    background-color: #60574E;
}

#item
{
    color:white;
}

.body
{
    background-color: #443C34;
}